/* folha de estilo - simulador */
/* @author Camila Yukari Jodai */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-family: 1em;
}

img {
    max-width: 100%;
}

/* cabeçalho */
header h1 {
    color: darkslategrey;
    text-align: center;
}

/* MENU */
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: burlywood;
    overflow: hidden; /*esconde a barra de rolagem */
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: cadetblue;
    transition: all 0.4s;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: burlywood;
    color: black;
    padding: 5px 0px;
    text-align: center;

}