body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: lavender;
}

input[type=button] {
    width: 45%;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    border: 0px;
    font-weight: bold;
    margin: 0px auto;
    background-color: white;
}

input[type=reset] {
    width: 45%;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    margin: 0px auto;
    border: 0px;
    background-color: white;
}

input[type=text] {
    border-radius: 5px;
    background-color: white;
}